@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');


:root {
	--body-color: #000000;
	--dark-gray: #909090;
	--div-color: #c2c0c0;
	--hover-color: #c0c0c0;
	--text-hover-color: #000000;
	--secondary-color: #d0d0d0;
	--text-color: #000000;
	--table-color-even: #d0d0d0;
	--table-color-odd: #c0c0c0;
	--table-hover-even: #f0f0f0;
	--table-hover-odd: #c5c5c5c5;
	--table-match-number: #b0b0b0;
	--table-color-blue: #a0a0dd;
	--table-color-red: #ffa0a0;
	--table-hover-blue: #8080dd;
	--table-hover-red: #ff8080;
}


html {
	width: 100%;
	height: unset;
	background-color: var(--body-color);
}

body {
	background-color: var(--dark-gray);
	margin: 0 3%;
	padding: 0px 0px;
	padding-bottom: 4px;
	height: 100%;
	
}

hr {
	position: relative;
	margin: 0 0;
	height: 5px;
	background: var(--text-color);

}

div {
	background-color: var(--div-color);
	margin: 0 2%;
	justify-content: center;
}


nav{
	background-color: var(--div-color);
  	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	position:relative;
	width: 100%;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--div-color);
}

li {
	width:20%;
  float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

li a {
  display: block;
  
  text-align: center;
	
  padding: 0px 0px;
	margin: 0;
  text-decoration: none;

}

button:hover {
  background-color: var(--hover-color);
}

button.active {
	background-color: var(--hover-color);
}

button a:hover {
	color: var(--text-hover-color)
}

button {
	padding: 2px;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 50px;
	margin: 0;
	color: var(--text-color);
	/*font: 1em/20px 'Orbitron', serif;*/
	background-color: var(--secondary-color);
}

nav ul li button a {
	font-size: 20px;
}

h1 {
	font: 30px/30px 'Orbitron', serif;
	text-align: center;
}

p {
	font-size: 30px;
	text-align: center;
}

div.form {
	display: inline-block;
	width: 300px;
	padding-left: 5px;
	background-color: var(--div-color);
}

div.sched {
	justify-content: center;
	display: block;
}

@media (max-width: 800px) {
	* {
		font-size: 13px !important;
	}

	html {
		height: 100vh;
	}

	footer {
		position: fixed;
		left: 3%;
		bottom: 0;
	  width: 100%;
	}

	body {
		margin: 0px 4px !important;
	}

	h1 {
		font: 25px/25px 'Orbitron', serif !important;
	}

	div.form {
		width: 70% !important;
		margin-left: 15%;
		justify-content: center;
		float: center !important;
	}
}

@media (max-width: 500px) {
	* {
		font-size: 12px !important;
	}

	h1 {
		font: 20px/20px 'Orbitron', serif !important;
	}

	footer {
		left: 3%;
		bottom: 0;
	  width: 100%;
	}
}

footer {
	margin-top: 10px;
	margin-left: -3%;
	margin-right: -3%;
	margin-bottom: -10px;
	padding: 10px 10px;
	background-color: var(--div-color);
}

footer p {
	font: 15px/15px 'Orbitron', serif !important;
}


/*
This is from the last stylesheet
*/


table, th, td, tr {
  text-align: center !important; 
}

table {
	background-color: var(--table-color-even);
	width: 100%;
}

tr:nth-child(even):hover td:hover {
	background-color: var(--table-hover-even) !important;
}

tr:nth-child(odd):hover td:hover {
	background-color: var(--table-hover-odd) !important;
}


tr td:nth-child(1) {
	background-color: var(--table-match-number) !important;
}

tr td:nth-child(1).contains-us {
	background-color: var(--dark-gray) !important;
}

table.ignore-header-style tr:nth-child(even) td:nth-child(1) {
	background-color: var(--table-hover-even) !important;
}

table.ignore-header-style tr:nth-child(odd) td:nth-child(1) {
	background-color: var(--table-hover-odd) !important;
}

table.ignore-header-style {
	overflow: scroll !important;
}

tr:hover td:nth-child(1):hover {
	background-color: var(--table-match-number) !important;
}

tr td:nth-child(2).us,tr td:nth-child(3).us,tr td:nth-child(4).us {
	background-color: var(--table-color-blue) !important;
}

tr td:nth-child(2).us:hover,tr td:nth-child(3).us:hover,tr td:nth-child(4).us:hover {
	background-color: var(--table-hover-blue) !important;
}

tr td:nth-child(5).us,tr td:nth-child(6).us,tr td:nth-child(7).us {
	background-color: var(--table-color-red) !important;
}

tr td:nth-child(5).us:hover,tr td:nth-child(6).us:hover,tr td:nth-child(7).us:hover {
	background-color: var(--table-hover-red) !important;
}

tr:nth-child(even) {
  background-color: var(--table-color-even);
}
tr:nth-child(odd) {
  background-color: var(--table-color-odd);
}


table {
	width: calc(100% - 20px);
	margin: 0px 10px;
}
tr {
	text-align: center;
}
td.not_submitted {
 background-color: #DADADA;
}
td.submitted {
 background-color: #595959;
}
td.ready_to_generate {
 background-color: #FF731C;
}
td.not_ready_to_generate {
 background-color: #4682b4;
}
td.my_team {
	font-weight: bold;
}


/* This is old CSS that is no longer used ATM
td.colRed{
	background-color: red;
}

td.colBlue{
	background-color: blue;
}
td.red{
	background-color: #e60000;
}

td.green{
	background-color: #006600;
}

td.grey{
	background-color: #808080;
}

td.blue{
	background-color: #2020df;
}
td.orange{
	background-color: #ff731c;
}
*/

/* for the prepopulate.php section of the site */


/* This finally works and I'm never touching it again */
ul.tabs {
	margin-left: 11%;
}

li.tab-title {
	color: var(--secondary-color) !important;
	height: 50px !important;
	width: 30%;
	margin-bottom: 10px !important;
}

li.active {
	color: var(--div-color) !important;
}

div.collapse div.columns {
	width: 25% !important;
	background-color: var(--div-color) !important;
	color: var(--body-color) !important; /* I'm blue dabade dabadie  */
	float: left !important;
	margin: 0 0;
}

div.collapse div.columns input.button {
	background-color: var(--dark-gray) !important; /* I'm no longer blue dabade dabadie */
}

div.collapse {
	justify-content: center !important;
}

div.content {
	background-color: var(--div-color) !important;
	width: 90%;
	margin-left: 5%;
}

input.SubmitButton {
	width: 15%;
	margin-left: 43.5%;
	background-color: var(--dark-gray) !important;
}

div.columns.large-12 {
	margin-left: 0% !important;
}

div.content-box.section-box {
	padding-left: 20%;
}

div.content-box.section-box.ignore-padding-offset {
	padding-left: 0% !important;
}

div.content-box.section-box fieldset {
	margin-left: -20%;
}

input {
	background-color: var(--dark-gray);
}